html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }
  
  body {
    font-family:'Krub', sans-serif ;
  }


/*  ===============================================================================  */
 /* Inicio SECCION RECOMENDACIONES -CARRUSEL  Camilo*/
/*  ===============================================================================  */
.seccion-carrusel {
    margin-top: 20px;
  }
  /* cambiar tamaño de letra con herencia  */
  .container {
    font-size: 2rem;;
  }
  /* editar contenido de la tarjeta */
  .carousel-item {
      height: 45em;
      background: rgb(5, 5, 5);
      color: rgb(241, 238, 238);
      position: relative;
      
  }
  
  .container {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding-bottom: 50px;
  }
  
  /* editar imagen de fondo carrusel */
  .overlay-image {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      background-position: center; /* para acomodar imagen de fondo carrusel */
      background-size: cover; 
      opacity: 0.5;
  }
  
  .overlay-image2{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      background-position: top; /* para acomodar imagen de fondo carrusel */
      background-size: cover; 
      opacity: 0.5;
  }
  
  
  /*  ===============================================================================  */
   /* Fin SECCION RECOMENDACIONES -CARRUSEL  Camilo*/
  /*  ===============================================================================  */
  